## Adoption in Brazil

In [46]:
import pandas as pd
import os
divider = '-'*80

### Loading the directories

In [47]:
# directory for the data
base_dir_children = 'data/criancas_para_adocao/'
base_dir_parents = 'data/prospective_adoptive_parents/'

The display_directory_structure function uses os.walk to traverse the directory and print its structure.
This helps in visualizing the organization of files and directories.

In [48]:
# Function to display directory structure
def display_directory_structure(base_dir):
    for root, dirs, files in os.walk(base_dir):
        level = root.replace(base_dir, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print(f'{indent}{os.path.basename(root)}/')
        subindent = ' ' * 4 * (level + 1)
        for f in files:
            print(f'{subindent}{f}')
            
# Display directory structure for children and parents data
print("Children Data Directory Structure:")
display_directory_structure(base_dir_children)
print("\nProspective Adoptive Parents Data Directory Structure:")
display_directory_structure(base_dir_parents)

Children Data Directory Structure:
/
sudeste/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_age.xlsx
    by_disease.xlsx
general/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_region.xlsx
    by_age.xlsx
    by_disease.xlsx
nordeste/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_age.xlsx
    by_disease.xlsx
sul/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_age.xlsx
    by_disease.xlsx
norte/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_age.xlsx
    by_disease.xlsx
centro_oeste/
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_siblings.xlsx
    by_age.xlsx
    by_disease.xlsx

Prospective Adoptive Parents Data Directory Structure:
/
sudeste/
    by_couple.xlsx
    by_accepted_disease.xlsx
    by_accepted_disability.xlsx
    by_quantity_accepted.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_type.xlsx
    by_age.xlsx
    by_infectious_disease_accepted.xlsx
general/
    by_couple.xlsx
    by_accepted_age.xlsx
    by_accepted_disability.xlsx
    by_quantity_accepted.xlsx
    by_UF.xlsx
    by_region.xlsx
    by_accepted_ethnicity.xlsx
    by_type.xlsx
    by_infectious_disease_accepted.xlsx
    by_accepted_gender.xlsx
nordeste/
    by_couple.xlsx
    by_quantity.xlsx
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_type.xlsx
    by_age.xlsx
    by_disease.xlsx
sul/
    by_couple.xlsx
    by_quantity.xlsx
    by_disability.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_type.xlsx
    by_age.xlsx
    by_infectious_disease_accepted.xlsx
    by_disease.xlsx
norte/
    by_couple.xlsx
    by_quantity.xlsx
    by_disability.xlsx
    by_infectious_disease.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_type.xlsx
    by_age.xlsx
    by_disease.xlsx
centro_oeste/
    by_couple.xlsx
    by_quantity.xlsx
    by_disability.xlsx
    by_infectious_illness.xlsx
    by_ethnicity.xlsx
    by_gender.xlsx
    by_UF.xlsx
    by_type.xlsx
    by_age.xlsx
    by_disease.xlsx

region_translation is a dictionary that maps Portuguese region names to their English equivalents.

The load_region_data function is adapted to include the translation of region names.
It uses the region_translation dictionary to translate the region names to English and add them to the DataFrame.

The code loads data for all specified regions into dictionaries (children_data and parents_data) for both children and prospective adoptive parents.

This function takes the base directory base_dir and a specific region as arguments.
It constructs the path to the regional directory (region_dir).
It initializes an empty dictionary data to store the DataFrames.
It iterates over each file in the regional directory:
If the file is an Excel file (ends with .xlsx), it reads the file into a DataFrame df.
It calls the rename_columns_based_on_filename function to rename specific columns in the DataFrame.
It adds a new column Region to the DataFrame to indicate the region the data belongs to.
It stores the DataFrame in the data dictionary with a key derived from the file name (without the extension).
Finally, it returns the data dictionary containing all the DataFrames for the specified region.

In [49]:
# Translation mappings for region names
region_translation = {
    'centro_oeste': 'Midwest',
    'nordeste': 'Northeast',
    'norte': 'North',
    'sudeste': 'Southeast',
    'sul': 'South',
    'general': 'General'
}

# Function to load data from each regional directory without renaming columns
def load_region_data(base_dir, region):
    region_dir = os.path.join(base_dir, region)
    data = {}
    for file in os.listdir(region_dir):
        if file.endswith('.xlsx'):
            key = file.split('.')[0]  # using the file name (without extension) as key
            df = pd.read_excel(os.path.join(region_dir, file))
            df['Region'] = region_translation[region]  # Translate and add a column for the region
            data[key] = df
    return data

# Load data from all regions for children and parents
regions = ['centro_oeste', 'nordeste', 'norte', 'sudeste', 'sul', 'general']
children_data = {region: load_region_data(base_dir_children, region) for region in regions}
parents_data = {region: load_region_data(base_dir_parents, region) for region in regions}

In [50]:
# Function to display the loaded data in a pretty format
def display_loaded_data(data, title):
    for region, dfs in data.items():
        print(f"\nRegion: {region_translation[region]}")
        for key, df in dfs.items():
            print(f"\n{title} - {key}")
            display(df.head())

# Display the loaded data for children and parents
print(divider)
print(" Loaded Children Data:")
print(divider)
display_loaded_data(children_data, "Children Data")
print(divider)
print(" Loaded Prospective Adoptive Parents Data:")
print(divider)
display_loaded_data(parents_data, "Parents Data")

--------------------------------------------------------------------------------
 Loaded Children Data:
--------------------------------------------------------------------------------

Region: Midwest

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção   Region
0                   Sem Deficiência                      331  Midwest
1           Deficiência Intelectual                       35  Midwest
2  Deficiência Física e Intelectual                       18  Midwest
3                Deficiência Física                        6  Midwest

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção   Region
0    Não                      387  Midwest
1    Sim                        3  Midwest

Children Data - by_ethnicity

      Etnia  Disponíveis para Adoção   Region
0     Parda                      236  Midwest
1    Branca                       75  Midwest
2     Preta                       63  Midwest
3  Indigena                       15  Midwest
4   Amarela                        1  Midwest

Children Data - by_gender

      Gênero  Disponíveis para Adoção   Region
0  Masculino                      219  Midwest
1   Feminino                      171  Midwest

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,DF,45,40,Midwest
1,GO,45,73,Midwest
2,MS,38,87,Midwest
3,MT,20,42,Midwest

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção   Region
0         Sem Irmão                      148  Midwest
1          Um Irmão                       83  Midwest
2       Dois Irmãos                       81  Midwest
3  Mais de 3 Irmãos                       40  Midwest
4       Três Irmãos                       38  Midwest

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção   Region
0      Até 2 anos                       23  Midwest
1   De 2 a 4 anos                       23  Midwest
2   De 4 a 6 anos                       35  Midwest
3   De 6 a 8 anos                       39  Midwest
4  De 8 a 10 anos                       45  Midwest

Children Data - by_disease

  Doença  Disponíveis para Adoção   Region
0    Não                      313  Midwest
1    Sim                       77  Midwest

Region: Northeast

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção     Region
0                   Sem Deficiência                      656  Northeast
1           Deficiência Intelectual                      130  Northeast
2  Deficiência Física e Intelectual                       41  Northeast
3                Deficiência Física                       17  Northeast

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção     Region
0    Não                      840  Northeast
1    Sim                        4  Northeast

Children Data - by_ethnicity

     Etnia  Disponíveis para Adoção     Region
0    Parda                      583  Northeast
1    Preta                      154  Northeast
2   Branca                      106  Northeast
3  Amarela                        1  Northeast

Children Data - by_gender

      Gênero  Disponíveis para Adoção     Region
0  Masculino                      448  Northeast
1   Feminino                      396  Northeast

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,AL,15,28,Northeast
1,BA,42,178,Northeast
2,CE,59,111,Northeast
3,MA,21,38,Northeast
4,PB,34,47,Northeast

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção     Region
0         Sem Irmão                      358  Northeast
1          Um Irmão                      144  Northeast
2       Dois Irmãos                      143  Northeast
3  Mais de 3 Irmãos                      106  Northeast
4       Três Irmãos                       93  Northeast

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção     Region
0      Até 2 anos                       52  Northeast
1   De 2 a 4 anos                       51  Northeast
2   De 4 a 6 anos                       54  Northeast
3   De 6 a 8 anos                       63  Northeast
4  De 8 a 10 anos                       82  Northeast

Children Data - by_disease

  Doença  Disponíveis para Adoção     Region
0    Não                      678  Northeast
1    Sim                      166  Northeast

Region: North

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção Region
0                   Sem Deficiência                      135  North
1           Deficiência Intelectual                       51  North
2  Deficiência Física e Intelectual                       19  North
3                Deficiência Física                       10  North

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção Region
0    Não                      213  North
1    Sim                        2  North

Children Data - by_ethnicity

      Etnia  Disponíveis para Adoção Region
0     Parda                      175  North
1    Branca                       24  North
2     Preta                       12  North
3  Indigena                        4  North

Children Data - by_gender

      Gênero  Disponíveis para Adoção Region
0  Masculino                      115  North
1   Feminino                      100  North

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,AC,8,3,North
1,AM,22,48,North
2,AP,1,10,North
3,PA,28,47,North
4,RO,11,20,North

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção Region
0         Sem Irmão                      102  North
1       Dois Irmãos                       37  North
2          Um Irmão                       37  North
3  Mais de 3 Irmãos                       22  North
4       Três Irmãos                       17  North

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção Region
0      Até 2 anos                        8  North
1   De 2 a 4 anos                        9  North
2   De 4 a 6 anos                       21  North
3   De 6 a 8 anos                       15  North
4  De 8 a 10 anos                       22  North

Children Data - by_disease

  Doença  Disponíveis para Adoção Region
0    Não                      154  North
1    Sim                       61  North

Region: Southeast

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção     Region
0                   Sem Deficiência                     1800  Southeast
1           Deficiência Intelectual                      288  Southeast
2  Deficiência Física e Intelectual                       88  Southeast
3                Deficiência Física                       36  Southeast

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção     Region
0    Não                     2191  Southeast
1    Sim                       21  Southeast

Children Data - by_ethnicity

           Etnia  Disponíveis para Adoção     Region
0          Parda                     1113  Southeast
1         Branca                      588  Southeast
2          Preta                      474  Southeast
3  Não Informada                       18  Southeast
4        Amarela                       16  Southeast

Children Data - by_gender

      Gênero  Disponíveis para Adoção     Region
0  Masculino                     1208  Southeast
1   Feminino                     1004  Southeast

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,ES,52,69,Southeast
1,MG,200,394,Southeast
2,RJ,142,121,Southeast
3,SP,713,521,Southeast

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção     Region
0         Sem Irmão                      844  Southeast
1          Um Irmão                      478  Southeast
2       Dois Irmãos                      406  Southeast
3       Três Irmãos                      251  Southeast
4  Mais de 3 Irmãos                      233  Southeast

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção     Region
0      Até 2 anos                      228  Southeast
1   De 2 a 4 anos                      147  Southeast
2   De 4 a 6 anos                      192  Southeast
3   De 6 a 8 anos                      206  Southeast
4  De 8 a 10 anos                      229  Southeast

Children Data - by_disease

  Doença  Disponíveis para Adoção     Region
0    Não                     1808  Southeast
1    Sim                      404  Southeast

Region: South

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção Region
0                   Sem Deficiência                      935  South
1           Deficiência Intelectual                      181  South
2  Deficiência Física e Intelectual                       49  South
3                Deficiência Física                       10  South

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção Region
0    Não                     1159  South
1    Sim                       16  South

Children Data - by_ethnicity

      Etnia  Disponíveis para Adoção Region
0    Branca                      629  South
1     Parda                      421  South
2     Preta                      112  South
3  Indigena                       10  South
4   Amarela                        3  South

Children Data - by_gender

      Gênero  Disponíveis para Adoção Region
0  Masculino                      589  South
1   Feminino                      586  South

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,PR,201,272,South
1,RS,162,317,South
2,SC,59,164,South

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção Region
0         Sem Irmão                      475  South
1          Um Irmão                      272  South
2       Dois Irmãos                      231  South
3       Três Irmãos                      100  South
4  Mais de 3 Irmãos                       97  South

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção Region
0      Até 2 anos                       82  South
1   De 2 a 4 anos                       62  South
2   De 4 a 6 anos                       70  South
3   De 6 a 8 anos                       73  South
4  De 8 a 10 anos                      110  South

Children Data - by_disease

  Doença  Disponíveis para Adoção Region
0    Não                      910  South
1    Sim                      265  South

Region: General

Children Data - by_disability

                        Deficiência  Disponíveis para Adoção   Region
0                   Sem Deficiência                     3857  General
1           Deficiência Intelectual                      685  General
2  Deficiência Física e Intelectual                      215  General
3                Deficiência Física                       79  General

Children Data - by_infectious_disease

  Doença  Disponíveis para Adoção   Region
0    Não                     4790  General
1    Sim                       46  General

Children Data - by_ethnicity

      Etnia  Disponíveis para Adoção   Region
0     Parda                     2528  General
1    Branca                     1422  General
2     Preta                      815  General
3  Indigena                       32  General
4   Amarela                       21  General

Children Data - by_gender

      Gênero  Disponíveis para Adoção   Region
0  Masculino                     2579  General
1   Feminino                     2257  General

Children Data - by_UF

,UF,Disponível - vinculada a pretendente,Disponível - não vinculada a pretendente,Region
0,AC,8,3,General
1,AL,15,28,General
2,AM,22,48,General
3,AP,1,10,General
4,BA,42,178,General

Children Data - by_siblings

             Irmãos  Disponíveis para Adoção   Region
0         Sem Irmão                     1927  General
1          Um Irmão                     1014  General
2       Dois Irmãos                      898  General
3       Três Irmãos                      499  General
4  Mais de 3 Irmãos                      498  General

Children Data - by_region

         Região  Disponíveis para Adoção   Region
0  Centro-Oeste                      390  General
1      Nordeste                      844  General
2         Norte                      215  General
3       Sudeste                     2212  General
4           Sul                     1175  General

Children Data - by_age

       Fx. Etária  Disponíveis para Adoção   Region
0      Até 2 anos                      393  General
1   De 2 a 4 anos                      292  General
2   De 4 a 6 anos                      372  General
3   De 6 a 8 anos                      396  General
4  De 8 a 10 anos                      488  General

Children Data - by_disease

  Doença  Disponíveis para Adoção   Region
0    Não                     3863  General
1    Sim                      973  General

--------------------------------------------------------------------------------
 Loaded Prospective Adoptive Parents Data:
--------------------------------------------------------------------------------

Region: Midwest

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis   Region
0    Sim                      2091  Midwest
1    Não                       331  Midwest

Parents Data - by_quantity

  Qtd. aceita adotar  Pretendentes Disponíveis   Region
0                  1                      1395  Midwest
1                  2                       924  Midwest
2              Acima                       103  Midwest

Parents Data - by_disability

                        Deficiência  Pretendentes Disponíveis   Region
0                   Sem Deficiência                      2288  Midwest
1                Deficiência Física                        85  Midwest
2  Deficiência Física e Intelectual                        43  Midwest
3           Deficiência Intelectual                         6  Midwest

Parents Data - by_infectious_illness

  Doença infectocontagiosa  Pretendentes Disponíveis   Region
0                      Não                      2255  Midwest
1                      Sim                       167  Midwest

Parents Data - by_ethnicity

      Etnia  Pretendentes Disponíveis   Region
0  Qualquer                      1610  Midwest
1     Parda                       639  Midwest
2    Branca                       633  Midwest
3   Amarela                       239  Midwest
4     Preta                       166  Midwest

Parents Data - by_gender

      Gênero  Pretendentes Disponíveis   Region
0   Qualquer                      1682  Midwest
1   Feminino                       578  Midwest
2  Masculino                       162  Midwest

Parents Data - by_UF

   UF  Pretendentes Disponíveis   Region
0  DF                       454  Midwest
1  GO                      1111  Midwest
2  MS                       241  Midwest
3  MT                       616  Midwest

Parents Data - by_type

            Tipo  Pretendentes Disponíveis   Region
0       Nacional                      1673  Midwest
1       Estadual                       621  Midwest
2      Municipal                       127  Midwest
3  Internacional                         1  Midwest

Parents Data - by_age

            Idade  Pretendentes Disponíveis   Region
0      Até 2 anos                       458  Midwest
1   De 2 a 4 anos                       755  Midwest
2   De 4 a 6 anos                       730  Midwest
3   De 6 a 8 anos                       322  Midwest
4  De 8 a 10 anos                        95  Midwest

Parents Data - by_disease

  Doença  Pretendentes Disponíveis   Region
0    Não                      1767  Midwest
1    Sim                       655  Midwest

Region: Northeast

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis     Region
0    Sim                      4619  Northeast
1    Não                       870  Northeast

Parents Data - by_quantity

  Qtd. aceita adotar  Pretendentes Disponíveis     Region
0                  1                      3682  Northeast
1                  2                      1657  Northeast
2              Acima                       150  Northeast

Parents Data - by_disability

                        Deficiência  Pretendentes Disponíveis     Region
0                   Sem Deficiência                      5244  Northeast
1                Deficiência Física                       123  Northeast
2  Deficiência Física e Intelectual                       111  Northeast
3           Deficiência Intelectual                        11  Northeast

Parents Data - by_infectious_disease

  Doença infectocontagiosa  Pretendentes Disponíveis     Region
0                      Não                      5159  Northeast
1                      Sim                       330  Northeast

Parents Data - by_ethnicity

      Etnia  Pretendentes Disponíveis     Region
0  Qualquer                      3547  Northeast
1     Parda                      1606  Northeast
2    Branca                      1302  Northeast
3   Amarela                       396  Northeast
4     Preta                       354  Northeast

Parents Data - by_gender

      Gênero  Pretendentes Disponíveis     Region
0   Qualquer                      3240  Northeast
1   Feminino                      1765  Northeast
2  Masculino                       484  Northeast

Parents Data - by_UF

   UF  Pretendentes Disponíveis     Region
0  AL                       331  Northeast
1  BA                      1398  Northeast
2  CE                      1115  Northeast
3  MA                       238  Northeast
4  PB                       514  Northeast

Parents Data - by_type

            Tipo  Pretendentes Disponíveis     Region
0       Nacional                      2373  Northeast
1       Estadual                      2262  Northeast
2      Municipal                       851  Northeast
3  Internacional                         3  Northeast

Parents Data - by_age

            Idade  Pretendentes Disponíveis     Region
0      Até 2 anos                      1423  Northeast
1   De 2 a 4 anos                      1843  Northeast
2   De 4 a 6 anos                      1374  Northeast
3   De 6 a 8 anos                       496  Northeast
4  De 8 a 10 anos                       187  Northeast

Parents Data - by_disease

  Doença  Pretendentes Disponíveis     Region
0    Não                      4107  Northeast
1    Sim                      1382  Northeast

Region: North

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis Region
0    Sim                      1003  North
1    Não                       201  North

Parents Data - by_quantity

  Qtd. aceita adotar  Pretendentes Disponíveis Region
0                  1                       719  North
1                  2                       438  North
2              Acima                        47  North

Parents Data - by_disability

                        Deficiência  Pretendentes Disponíveis Region
0                   Sem Deficiência                      1123  North
1                Deficiência Física                        39  North
2  Deficiência Física e Intelectual                        38  North
3           Deficiência Intelectual                         4  North

Parents Data - by_infectious_disease

  Doença infectocontagiosa  Pretendentes Disponíveis Region
0                      Não                      1121  North
1                      Sim                        83  North

Parents Data - by_ethnicity

      Etnia  Pretendentes Disponíveis Region
0  Qualquer                       823  North
1     Parda                       325  North
2    Branca                       296  North
3   Amarela                       131  North
4     Preta                       110  North

Parents Data - by_gender

      Gênero  Pretendentes Disponíveis Region
0   Qualquer                       704  North
1   Feminino                       347  North
2  Masculino                       153  North

Parents Data - by_UF

   UF  Pretendentes Disponíveis Region
0  AC                        72  North
1  AM                       145  North
2  AP                        62  North
3  PA                       448  North
4  RO                       279  North

Parents Data - by_type

            Tipo  Pretendentes Disponíveis Region
0       Nacional                       505  North
1       Estadual                       456  North
2      Municipal                       239  North
3  Internacional                         4  North

Parents Data - by_age

            Idade  Pretendentes Disponíveis Region
0      Até 2 anos                       282  North
1   De 2 a 4 anos                       380  North
2   De 4 a 6 anos                       323  North
3   De 6 a 8 anos                       120  North
4  De 8 a 10 anos                        45  North

Parents Data - by_disease

  Doença  Pretendentes Disponíveis Region
0    Não                       977  North
1    Sim                       227  North

Region: Southeast

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis     Region
0    Sim                     15721  Southeast
1    Não                      2023  Southeast

Parents Data - by_accepted_disease

  Doença  Pretendentes Disponíveis     Region
0    Não                     11023  Southeast
1    Sim                      6721  Southeast

Parents Data - by_accepted_disability

                        Deficiência  Pretendentes Disponíveis     Region
0                   Sem Deficiência                     16806  Southeast
1                Deficiência Física                       752  Southeast
2  Deficiência Física e Intelectual                       124  Southeast
3           Deficiência Intelectual                        62  Southeast

Parents Data - by_quantity_accepted

  Qtd. aceita adotar  Pretendentes Disponíveis     Region
0                  1                     11208  Southeast
1                  2                      6182  Southeast
2              Acima                       354  Southeast

Parents Data - by_ethnicity

      Etnia  Pretendentes Disponíveis     Region
0  Qualquer                     11100  Southeast
1    Branca                      5456  Southeast
2     Parda                      4999  Southeast
3   Amarela                      1275  Southeast
4     Preta                      1153  Southeast

Parents Data - by_gender

      Gênero  Pretendentes Disponíveis     Region
0   Qualquer                     12279  Southeast
1   Feminino                      4186  Southeast
2  Masculino                      1279  Southeast

Parents Data - by_UF

   UF  Pretendentes Disponíveis     Region
0  ES                       703  Southeast
1  MG                      4886  Southeast
2  RJ                      3172  Southeast
3  SP                      8983  Southeast

Parents Data - by_type

            Tipo  Pretendentes Disponíveis     Region
0       Nacional                      8602  Southeast
1       Estadual                      7242  Southeast
2      Municipal                      1898  Southeast
3  Internacional                        12  Southeast

Parents Data - by_age

            Idade  Pretendentes Disponíveis     Region
0      Até 2 anos                      2506  Southeast
1   De 2 a 4 anos                      5649  Southeast
2   De 4 a 6 anos                      5736  Southeast
3   De 6 a 8 anos                      2743  Southeast
4  De 8 a 10 anos                       773  Southeast

Parents Data - by_infectious_disease_accepted

  Doença infectocontagiosa  Pretendentes Disponíveis     Region
0                      Não                     16093  Southeast
1                      Sim                      1651  Southeast

Region: South

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis Region
0    Sim                      8394  South
1    Não                       930  South

Parents Data - by_quantity

  Qtd. aceita adotar  Pretendentes Disponíveis Region
0                  1                      5247  South
1                  2                      3868  South
2              Acima                       205  South

Parents Data - by_disability

                        Deficiência  Pretendentes Disponíveis Region
0                   Sem Deficiência                      8880  South
1                Deficiência Física                       357  South
2  Deficiência Física e Intelectual                        60  South
3           Deficiência Intelectual                        27  South

Parents Data - by_ethnicity

      Etnia  Pretendentes Disponíveis Region
0  Qualquer                      5232  South
1    Branca                      3861  South
2     Parda                      2537  South
3   Amarela                       995  South
4     Preta                       480  South

Parents Data - by_gender

      Gênero  Pretendentes Disponíveis Region
0   Qualquer                      7000  South
1   Feminino                      1795  South
2  Masculino                       525  South

Parents Data - by_UF

   UF  Pretendentes Disponíveis Region
0  PR                      2639  South
1  RS                      3673  South
2  SC                      3008  South

Parents Data - by_type

            Tipo  Pretendentes Disponíveis Region
0       Nacional                      5701  South
1       Estadual                      3068  South
2      Municipal                       554  South
3  Internacional                         1  South

Parents Data - by_age

            Idade  Pretendentes Disponíveis Region
0      Até 2 anos                      1545  South
1   De 2 a 4 anos                      2957  South
2   De 4 a 6 anos                      3068  South
3   De 6 a 8 anos                      1291  South
4  De 8 a 10 anos                       313  South

Parents Data - by_infectious_disease_accepted

  Doença infectocontagiosa  Pretendentes Disponíveis Region
0                      Não                      8513  South
1                      Sim                       811  South

Parents Data - by_disease

  Doença  Pretendentes Disponíveis Region
0    Não                      5336  South
1    Sim                      3988  South

Region: General

Parents Data - by_couple

  Casal?  Pretendentes Disponíveis   Region
0    Sim                     31899  General
1    Não                      4349  General

Parents Data - by_accepted_age

            Idade  Pretendentes Disponíveis   Region
0      Até 2 anos                      6228  General
1   De 2 a 4 anos                     11606  General
2   De 4 a 6 anos                     11240  General
3   De 6 a 8 anos                      4989  General
4  De 8 a 10 anos                      1412  General

Parents Data - by_accepted_disability

                        Deficiência  Pretendentes Disponíveis   Region
0                   Sem Deficiência                     34402  General
1                Deficiência Física                      1359  General
2  Deficiência Física e Intelectual                       377  General
3           Deficiência Intelectual                       110  General

Parents Data - by_quantity_accepted

  Qtd. aceita adotar  Pretendentes Disponíveis   Region
0                  1                     22301  General
1                  2                     13087  General
2              Acima                       860  General

Parents Data - by_UF

   UF  Pretendentes Disponíveis   Region
0  AC                        72  General
1  AL                       331  General
2  AM                       144  General
3  AP                        62  General
4  BA                      1396  General

Parents Data - by_region

           Tipo  Pretendentes Disponíveis   Region
0  Centro-Oeste                      2426  General
1      Nordeste                      5496  General
2         Norte                      1205  General
3       Sudeste                     17789  General
4           Sul                      9332  General

Parents Data - by_accepted_ethnicity

      Etnia  Pretendentes Disponíveis   Region
0  Qualquer                     22352  General
1    Branca                     11571  General
2     Parda                     10126  General
3   Amarela                      3036  General
4     Preta                      2265  General

Parents Data - by_type

            Tipo  Pretendentes Disponíveis   Region
0       Nacional                     18854  General
1       Estadual                     13649  General
2      Municipal                      3669  General
3  Internacional                        21  General

Parents Data - by_infectious_disease_accepted

  Doença infectocontagiosa  Pretendentes Disponíveis   Region
0                      Não                     33202  General
1                      Sim                      3046  General

Parents Data - by_accepted_gender

      Gênero  Pretendentes Disponíveis   Region
0   Qualquer                     24949  General
1   Feminino                      8689  General
2  Masculino                      2610  General

### Translation

In [57]:
# Translation mappings for column names and content
translation_dict_columns_children = {
    'Disponíveis para Adoção': 'available_for_adoption',
    'Fx. Etária': 'age_group',
    'Idade': 'age_preference',
    'Gênero': 'gender',
    'Etnia': 'ethnicity',
    'Deficiência': 'disability',
    'Doença': 'disease',
    'Irmãos': 'sibling',
    'UF': 'UF',
    'Região': 'region',
    'Disponível - vinculada a pretendente': 'available_for_adoption_linked',
    'Disponível - não vinculada a pretendente': 'available_for_adoption_unlinked',    
}

translation_dict_columns_parents = {
    'Disponíveis para Adoção': 'available_for_adoption',
    'Fx. Etária': 'age_group',
    'Idade': 'age_preference',
    'Gênero': 'gender',
    'Etnia': 'ethnicity',
    'Deficiência': 'disability_preference',
    'Doença': 'disease_preference',  # This will be conditionally changed based on file name
    'Irmãos': 'sibling_preference',
    'UF': 'UF',
    'Região': 'region',
    'Qtd. aceita adotar': 'accepted_quantity',
    'Casal?': 'couple',
    'Pretendentes Disponíveis': 'available_candidates',
    'Doença infectocontagiosa': 'infectious_disease_preference',
    'Tipo': 'adoption_type'

}

translation_dict_content = {
    'age_group': {
        'Até 2 anos': '0-2 years', 'De 2 a 4 anos': '2-4 years', 'De 4 a 6 anos': '4-6 years',
        'De 6 a 8 anos': '6-8 years', 'De 8 a 10 anos': '8-10 years', 'De 10 a 12 anos': '10-12 years',
        'De 12 a 14 anos': '12-14 years', 'De 14 a 16 anos': '14-16 years', 'Maior de 16 anos': '16+ years'
    },
    'age_preference': {
    'Até 2 anos': '0-2 years', 'De 2 a 4 anos': '2-4 years', 'De 4 a 6 anos': '4-6 years',
    'De 6 a 8 anos': '6-8 years', 'De 8 a 10 anos': '8-10 years', 'De 10 a 12 anos': '10-12 years',
    'De 12 a 14 anos': '12-14 years', 'De 14 a 16 anos': '14-16 years', 'Maior de 16 anos': '16+ years'
    },
    'gender': {
        'Masculino': 'Male', 'Feminino': 'Female', 'Qualquer': 'Any'
    },
    'disease': {
        'Não': 'No', 'Sim': 'Yes'
    },
        'infectious_disease': {
        'Não': 'No', 'Sim': 'Yes'
    },
    'infectious_disease_preference': {
        'Não': 'No', 'Sim': 'Yes'
    },
        'accepted_quantity': {
        'Acima': 'Above'
    },
        'couple': {
        'Não': 'No', 'Sim': 'Yes'
    },
    'sibling': {
        'Sem Irmão': 'No Siblings', 'Um Irmão': 'One Sibling', 'Dois Irmãos': 'Two Siblings',
        'Três Irmãos': 'Three Siblings', 'Mais de 3 Irmãos': 'More than Three Siblings'
    },
    'disability': {
        'Sem Deficiência': 'No Disability', 'Deficiência Intelectual': 'Intellectual Disability',
        'Deficiência Física e Intelectual': 'Physical and Intellectual Disability', 'Deficiência Física': 'Physical Disability'
    },
    'disability_preference': {
    'Sem Deficiência': 'No Disability', 'Deficiência Intelectual': 'Intellectual Disability',
    'Deficiência Física e Intelectual': 'Physical and Intellectual Disability', 'Deficiência Física': 'Physical Disability'
    },
    'ethnicity': {
        'Parda': 'Mixed', 'Branca': 'White', 'Preta': 'Black', 'Indígena': 'Indigenous', 'Amarela': 'Asian', 'Não Informada': 'Not Informed', 'Qualquer': 'Any'
    },
    'region': {
        'Centro Oeste': 'Midwest', 'Nordeste': 'Northeast', 'Norte': 'North', 'Sudeste': 'Southeast', 'Sul': 'South'
    },
    'available_for_adoption': {
        'Disponível - vinculada a pretendente': 'Available - Linked to Applicant',
        'Disponível - não vinculada a pretendente': 'Available - Not Linked to Applicant'
    },
        'adoption_type': {
        'Nacional': 'National', 'Estadual': 'State', 'Municipal': 'Municipal', 'Internacional': 'International'
    }
}

In [58]:
# Function to conditionally rename columns based on file name
def conditionally_rename_columns(df, filename, col_translations):
    if 'by_infectious_disease' in filename:
        col_translations['Doença'] = 'infectious_disease_status'
    elif 'by_disease' in filename:
        col_translations['Doença'] = 'disease_status'
    return df.rename(columns=col_translations)

# Function to translate column names and content
def translate_dataframe(df, filename, col_translations, content_translations):
    # Conditionally rename columns based on file name
    df = conditionally_rename_columns(df, filename, col_translations)
    
    # Translate content for each column
    for col, translations in content_translations.items():
        if col in df.columns:
            df[col] = df[col].map(translations).fillna(df[col])
    
    return df

# Function to apply translations to all DataFrames in the dataset
def apply_translations(data, col_translations, content_translations):
    for region, dfs in data.items():
        for key, df in dfs.items():
            data[region][key] = translate_dataframe(df, key, col_translations, content_translations)
    return data

# Apply translations to children and parents data
children_data = apply_translations(children_data, translation_dict_columns_children, translation_dict_content)
parents_data = apply_translations(parents_data, translation_dict_columns_parents, translation_dict_content)

In [59]:
# Display the loaded data for children and parents
print(divider)
print(" Translated Children Data:")
print(divider)
display_loaded_data(children_data, "Children Data")
print(divider)
print(" Translated Prospective Adoptive Parents Data:")
print(divider)
display_loaded_data(parents_data, "Parents Data")

--------------------------------------------------------------------------------
 Translated Children Data:
--------------------------------------------------------------------------------

Region: Midwest

Children Data - by_disability

                      disability_status  available_for_adoption   Region
0                         No Disability                     331  Midwest
1               Intellectual Disability                      35  Midwest
2  Physical and Intellectual Disability                      18  Midwest
3                   Physical Disability                       6  Midwest

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption   Region
0                        No                     387  Midwest
1                       Yes                       3  Midwest

Children Data - by_ethnicity

  ethnicity  available_for_adoption   Region
0     Mixed                     236  Midwest
1     White                      75  Midwest
2     Black                      63  Midwest
3  Indigena                      15  Midwest
4     Asian                       1  Midwest

Children Data - by_gender

   gender  available_for_adoption   Region
0    Male                     219  Midwest
1  Female                     171  Midwest

Children Data - by_UF

   UF  available_for_adoption_linked  available_for_adoption_unlinked   Region
0  DF                             45                               40  Midwest
1  GO                             45                               73  Midwest
2  MS                             38                               87  Midwest
3  MT                             20                               42  Midwest

Children Data - by_siblings

             sibling_status  available_for_adoption   Region
0               No Siblings                     148  Midwest
1               One Sibling                      83  Midwest
2              Two Siblings                      81  Midwest
3  More than Three Siblings                      40  Midwest
4            Three Siblings                      38  Midwest

Children Data - by_age

    age_group  available_for_adoption   Region
0   0-2 years                      23  Midwest
1   2-4 years                      23  Midwest
2   4-6 years                      35  Midwest
3   6-8 years                      39  Midwest
4  8-10 years                      45  Midwest

Children Data - by_disease

  disease_status  available_for_adoption   Region
0             No                     313  Midwest
1            Yes                      77  Midwest

Region: Northeast

Children Data - by_disability

                      disability_status  available_for_adoption     Region
0                         No Disability                     656  Northeast
1               Intellectual Disability                     130  Northeast
2  Physical and Intellectual Disability                      41  Northeast
3                   Physical Disability                      17  Northeast

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption     Region
0                        No                     840  Northeast
1                       Yes                       4  Northeast

Children Data - by_ethnicity

  ethnicity  available_for_adoption     Region
0     Mixed                     583  Northeast
1     Black                     154  Northeast
2     White                     106  Northeast
3     Asian                       1  Northeast

Children Data - by_gender

   gender  available_for_adoption     Region
0    Male                     448  Northeast
1  Female                     396  Northeast

Children Data - by_UF

,UF,available_for_adoption_linked,available_for_adoption_unlinked,Region
0,AL,15,28,Northeast
1,BA,42,178,Northeast
2,CE,59,111,Northeast
3,MA,21,38,Northeast
4,PB,34,47,Northeast

Children Data - by_siblings

             sibling_status  available_for_adoption     Region
0               No Siblings                     358  Northeast
1               One Sibling                     144  Northeast
2              Two Siblings                     143  Northeast
3  More than Three Siblings                     106  Northeast
4            Three Siblings                      93  Northeast

Children Data - by_age

    age_group  available_for_adoption     Region
0   0-2 years                      52  Northeast
1   2-4 years                      51  Northeast
2   4-6 years                      54  Northeast
3   6-8 years                      63  Northeast
4  8-10 years                      82  Northeast

Children Data - by_disease

  disease_status  available_for_adoption     Region
0             No                     678  Northeast
1            Yes                     166  Northeast

Region: North

Children Data - by_disability

                      disability_status  available_for_adoption Region
0                         No Disability                     135  North
1               Intellectual Disability                      51  North
2  Physical and Intellectual Disability                      19  North
3                   Physical Disability                      10  North

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption Region
0                        No                     213  North
1                       Yes                       2  North

Children Data - by_ethnicity

  ethnicity  available_for_adoption Region
0     Mixed                     175  North
1     White                      24  North
2     Black                      12  North
3  Indigena                       4  North

Children Data - by_gender

   gender  available_for_adoption Region
0    Male                     115  North
1  Female                     100  North

Children Data - by_UF

   UF  available_for_adoption_linked  available_for_adoption_unlinked Region
0  AC                              8                                3  North
1  AM                             22                               48  North
2  AP                              1                               10  North
3  PA                             28                               47  North
4  RO                             11                               20  North

Children Data - by_siblings

             sibling_status  available_for_adoption Region
0               No Siblings                     102  North
1              Two Siblings                      37  North
2               One Sibling                      37  North
3  More than Three Siblings                      22  North
4            Three Siblings                      17  North

Children Data - by_age

    age_group  available_for_adoption Region
0   0-2 years                       8  North
1   2-4 years                       9  North
2   4-6 years                      21  North
3   6-8 years                      15  North
4  8-10 years                      22  North

Children Data - by_disease

  disease_status  available_for_adoption Region
0             No                     154  North
1            Yes                      61  North

Region: Southeast

Children Data - by_disability

                      disability_status  available_for_adoption     Region
0                         No Disability                    1800  Southeast
1               Intellectual Disability                     288  Southeast
2  Physical and Intellectual Disability                      88  Southeast
3                   Physical Disability                      36  Southeast

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption     Region
0                        No                    2191  Southeast
1                       Yes                      21  Southeast

Children Data - by_ethnicity

      ethnicity  available_for_adoption     Region
0         Mixed                    1113  Southeast
1         White                     588  Southeast
2         Black                     474  Southeast
3  Not Informed                      18  Southeast
4         Asian                      16  Southeast

Children Data - by_gender

   gender  available_for_adoption     Region
0    Male                    1208  Southeast
1  Female                    1004  Southeast

Children Data - by_UF

,UF,available_for_adoption_linked,available_for_adoption_unlinked,Region
0,ES,52,69,Southeast
1,MG,200,394,Southeast
2,RJ,142,121,Southeast
3,SP,713,521,Southeast

Children Data - by_siblings

             sibling_status  available_for_adoption     Region
0               No Siblings                     844  Southeast
1               One Sibling                     478  Southeast
2              Two Siblings                     406  Southeast
3            Three Siblings                     251  Southeast
4  More than Three Siblings                     233  Southeast

Children Data - by_age

    age_group  available_for_adoption     Region
0   0-2 years                     228  Southeast
1   2-4 years                     147  Southeast
2   4-6 years                     192  Southeast
3   6-8 years                     206  Southeast
4  8-10 years                     229  Southeast

Children Data - by_disease

  disease_status  available_for_adoption     Region
0             No                    1808  Southeast
1            Yes                     404  Southeast

Region: South

Children Data - by_disability

                      disability_status  available_for_adoption Region
0                         No Disability                     935  South
1               Intellectual Disability                     181  South
2  Physical and Intellectual Disability                      49  South
3                   Physical Disability                      10  South

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption Region
0                        No                    1159  South
1                       Yes                      16  South

Children Data - by_ethnicity

  ethnicity  available_for_adoption Region
0     White                     629  South
1     Mixed                     421  South
2     Black                     112  South
3  Indigena                      10  South
4     Asian                       3  South

Children Data - by_gender

   gender  available_for_adoption Region
0    Male                     589  South
1  Female                     586  South

Children Data - by_UF

   UF  available_for_adoption_linked  available_for_adoption_unlinked Region
0  PR                            201                              272  South
1  RS                            162                              317  South
2  SC                             59                              164  South

Children Data - by_siblings

             sibling_status  available_for_adoption Region
0               No Siblings                     475  South
1               One Sibling                     272  South
2              Two Siblings                     231  South
3            Three Siblings                     100  South
4  More than Three Siblings                      97  South

Children Data - by_age

    age_group  available_for_adoption Region
0   0-2 years                      82  South
1   2-4 years                      62  South
2   4-6 years                      70  South
3   6-8 years                      73  South
4  8-10 years                     110  South

Children Data - by_disease

  disease_status  available_for_adoption Region
0             No                     910  South
1            Yes                     265  South

Region: General

Children Data - by_disability

                      disability_status  available_for_adoption   Region
0                         No Disability                    3857  General
1               Intellectual Disability                     685  General
2  Physical and Intellectual Disability                     215  General
3                   Physical Disability                      79  General

Children Data - by_infectious_disease

  infectious_disease_status  available_for_adoption   Region
0                        No                    4790  General
1                       Yes                      46  General

Children Data - by_ethnicity

  ethnicity  available_for_adoption   Region
0     Mixed                    2528  General
1     White                    1422  General
2     Black                     815  General
3  Indigena                      32  General
4     Asian                      21  General

Children Data - by_gender

   gender  available_for_adoption   Region
0    Male                    2579  General
1  Female                    2257  General

Children Data - by_UF

   UF  available_for_adoption_linked  available_for_adoption_unlinked   Region
0  AC                              8                                3  General
1  AL                             15                               28  General
2  AM                             22                               48  General
3  AP                              1                               10  General
4  BA                             42                              178  General

Children Data - by_siblings

             sibling_status  available_for_adoption   Region
0               No Siblings                    1927  General
1               One Sibling                    1014  General
2              Two Siblings                     898  General
3            Three Siblings                     499  General
4  More than Three Siblings                     498  General

Children Data - by_region

         region  available_for_adoption   Region
0  Centro-Oeste                     390  General
1     Northeast                     844  General
2         North                     215  General
3     Southeast                    2212  General
4         South                    1175  General

Children Data - by_age

    age_group  available_for_adoption   Region
0   0-2 years                     393  General
1   2-4 years                     292  General
2   4-6 years                     372  General
3   6-8 years                     396  General
4  8-10 years                     488  General

Children Data - by_disease

  disease_status  available_for_adoption   Region
0             No                    3863  General
1            Yes                     973  General

--------------------------------------------------------------------------------
 Translated Prospective Adoptive Parents Data:
--------------------------------------------------------------------------------

Region: Midwest

Parents Data - by_couple

  couple  available_candidates   Region
0    Yes                  2091  Midwest
1     No                   331  Midwest

Parents Data - by_quantity

  accepted_quantity  available_candidates   Region
0                 1                  1395  Midwest
1                 2                   924  Midwest
2             Above                   103  Midwest

Parents Data - by_disability

                  disability_preference  available_candidates   Region
0                         No Disability                  2288  Midwest
1                   Physical Disability                    85  Midwest
2  Physical and Intellectual Disability                    43  Midwest
3               Intellectual Disability                     6  Midwest

Parents Data - by_infectious_illness

  infectious_disease_preference  available_candidates   Region
0                            No                  2255  Midwest
1                           Yes                   167  Midwest

Parents Data - by_ethnicity

  ethnicity  available_candidates   Region
0       Any                  1610  Midwest
1     Mixed                   639  Midwest
2     White                   633  Midwest
3     Asian                   239  Midwest
4     Black                   166  Midwest

Parents Data - by_gender

   gender  available_candidates   Region
0     Any                  1682  Midwest
1  Female                   578  Midwest
2    Male                   162  Midwest

Parents Data - by_UF

   UF  available_candidates   Region
0  DF                   454  Midwest
1  GO                  1111  Midwest
2  MS                   241  Midwest
3  MT                   616  Midwest

Parents Data - by_type

   adoption_type  available_candidates   Region
0       National                  1673  Midwest
1          State                   621  Midwest
2      Municipal                   127  Midwest
3  International                     1  Midwest

Parents Data - by_age

  age_preference  available_candidates   Region
0      0-2 years                   458  Midwest
1      2-4 years                   755  Midwest
2      4-6 years                   730  Midwest
3      6-8 years                   322  Midwest
4     8-10 years                    95  Midwest

Parents Data - by_disease

  disease_status  available_candidates   Region
0             No                  1767  Midwest
1            Yes                   655  Midwest

Region: Northeast

Parents Data - by_couple

  couple  available_candidates     Region
0    Yes                  4619  Northeast
1     No                   870  Northeast

Parents Data - by_quantity

  accepted_quantity  available_candidates     Region
0                 1                  3682  Northeast
1                 2                  1657  Northeast
2             Above                   150  Northeast

Parents Data - by_disability

                  disability_preference  available_candidates     Region
0                         No Disability                  5244  Northeast
1                   Physical Disability                   123  Northeast
2  Physical and Intellectual Disability                   111  Northeast
3               Intellectual Disability                    11  Northeast

Parents Data - by_infectious_disease

  infectious_disease_preference  available_candidates     Region
0                            No                  5159  Northeast
1                           Yes                   330  Northeast

Parents Data - by_ethnicity

  ethnicity  available_candidates     Region
0       Any                  3547  Northeast
1     Mixed                  1606  Northeast
2     White                  1302  Northeast
3     Asian                   396  Northeast
4     Black                   354  Northeast

Parents Data - by_gender

   gender  available_candidates     Region
0     Any                  3240  Northeast
1  Female                  1765  Northeast
2    Male                   484  Northeast

Parents Data - by_UF

   UF  available_candidates     Region
0  AL                   331  Northeast
1  BA                  1398  Northeast
2  CE                  1115  Northeast
3  MA                   238  Northeast
4  PB                   514  Northeast

Parents Data - by_type

   adoption_type  available_candidates     Region
0       National                  2373  Northeast
1          State                  2262  Northeast
2      Municipal                   851  Northeast
3  International                     3  Northeast

Parents Data - by_age

  age_preference  available_candidates     Region
0      0-2 years                  1423  Northeast
1      2-4 years                  1843  Northeast
2      4-6 years                  1374  Northeast
3      6-8 years                   496  Northeast
4     8-10 years                   187  Northeast

Parents Data - by_disease

  disease_status  available_candidates     Region
0             No                  4107  Northeast
1            Yes                  1382  Northeast

Region: North

Parents Data - by_couple

  couple  available_candidates Region
0    Yes                  1003  North
1     No                   201  North

Parents Data - by_quantity

  accepted_quantity  available_candidates Region
0                 1                   719  North
1                 2                   438  North
2             Above                    47  North

Parents Data - by_disability

                  disability_preference  available_candidates Region
0                         No Disability                  1123  North
1                   Physical Disability                    39  North
2  Physical and Intellectual Disability                    38  North
3               Intellectual Disability                     4  North

Parents Data - by_infectious_disease

  infectious_disease_preference  available_candidates Region
0                            No                  1121  North
1                           Yes                    83  North

Parents Data - by_ethnicity

  ethnicity  available_candidates Region
0       Any                   823  North
1     Mixed                   325  North
2     White                   296  North
3     Asian                   131  North
4     Black                   110  North

Parents Data - by_gender

   gender  available_candidates Region
0     Any                   704  North
1  Female                   347  North
2    Male                   153  North

Parents Data - by_UF

   UF  available_candidates Region
0  AC                    72  North
1  AM                   145  North
2  AP                    62  North
3  PA                   448  North
4  RO                   279  North

Parents Data - by_type

   adoption_type  available_candidates Region
0       National                   505  North
1          State                   456  North
2      Municipal                   239  North
3  International                     4  North

Parents Data - by_age

  age_preference  available_candidates Region
0      0-2 years                   282  North
1      2-4 years                   380  North
2      4-6 years                   323  North
3      6-8 years                   120  North
4     8-10 years                    45  North

Parents Data - by_disease

  disease_status  available_candidates Region
0             No                   977  North
1            Yes                   227  North

Region: Southeast

Parents Data - by_couple

  couple  available_candidates     Region
0    Yes                 15721  Southeast
1     No                  2023  Southeast

Parents Data - by_accepted_disease

  disease_status  available_candidates     Region
0             No                 11023  Southeast
1            Yes                  6721  Southeast

Parents Data - by_accepted_disability

                  disability_preference  available_candidates     Region
0                         No Disability                 16806  Southeast
1                   Physical Disability                   752  Southeast
2  Physical and Intellectual Disability                   124  Southeast
3               Intellectual Disability                    62  Southeast

Parents Data - by_quantity_accepted

  accepted_quantity  available_candidates     Region
0                 1                 11208  Southeast
1                 2                  6182  Southeast
2             Above                   354  Southeast

Parents Data - by_ethnicity

  ethnicity  available_candidates     Region
0       Any                 11100  Southeast
1     White                  5456  Southeast
2     Mixed                  4999  Southeast
3     Asian                  1275  Southeast
4     Black                  1153  Southeast

Parents Data - by_gender

   gender  available_candidates     Region
0     Any                 12279  Southeast
1  Female                  4186  Southeast
2    Male                  1279  Southeast

Parents Data - by_UF

   UF  available_candidates     Region
0  ES                   703  Southeast
1  MG                  4886  Southeast
2  RJ                  3172  Southeast
3  SP                  8983  Southeast

Parents Data - by_type

   adoption_type  available_candidates     Region
0       National                  8602  Southeast
1          State                  7242  Southeast
2      Municipal                  1898  Southeast
3  International                    12  Southeast

Parents Data - by_age

  age_preference  available_candidates     Region
0      0-2 years                  2506  Southeast
1      2-4 years                  5649  Southeast
2      4-6 years                  5736  Southeast
3      6-8 years                  2743  Southeast
4     8-10 years                   773  Southeast

Parents Data - by_infectious_disease_accepted

  infectious_disease_preference  available_candidates     Region
0                            No                 16093  Southeast
1                           Yes                  1651  Southeast

Region: South

Parents Data - by_couple

  couple  available_candidates Region
0    Yes                  8394  South
1     No                   930  South

Parents Data - by_quantity

  accepted_quantity  available_candidates Region
0                 1                  5247  South
1                 2                  3868  South
2             Above                   205  South

Parents Data - by_disability

                  disability_preference  available_candidates Region
0                         No Disability                  8880  South
1                   Physical Disability                   357  South
2  Physical and Intellectual Disability                    60  South
3               Intellectual Disability                    27  South

Parents Data - by_ethnicity

  ethnicity  available_candidates Region
0       Any                  5232  South
1     White                  3861  South
2     Mixed                  2537  South
3     Asian                   995  South
4     Black                   480  South

Parents Data - by_gender

   gender  available_candidates Region
0     Any                  7000  South
1  Female                  1795  South
2    Male                   525  South

Parents Data - by_UF

   UF  available_candidates Region
0  PR                  2639  South
1  RS                  3673  South
2  SC                  3008  South

Parents Data - by_type

   adoption_type  available_candidates Region
0       National                  5701  South
1          State                  3068  South
2      Municipal                   554  South
3  International                     1  South

Parents Data - by_age

  age_preference  available_candidates Region
0      0-2 years                  1545  South
1      2-4 years                  2957  South
2      4-6 years                  3068  South
3      6-8 years                  1291  South
4     8-10 years                   313  South

Parents Data - by_infectious_disease_accepted

  infectious_disease_preference  available_candidates Region
0                            No                  8513  South
1                           Yes                   811  South

Parents Data - by_disease

  disease_status  available_candidates Region
0             No                  5336  South
1            Yes                  3988  South

Region: General

Parents Data - by_couple

  couple  available_candidates   Region
0    Yes                 31899  General
1     No                  4349  General

Parents Data - by_accepted_age

  age_preference  available_candidates   Region
0      0-2 years                  6228  General
1      2-4 years                 11606  General
2      4-6 years                 11240  General
3      6-8 years                  4989  General
4     8-10 years                  1412  General

Parents Data - by_accepted_disability

                  disability_preference  available_candidates   Region
0                         No Disability                 34402  General
1                   Physical Disability                  1359  General
2  Physical and Intellectual Disability                   377  General
3               Intellectual Disability                   110  General

Parents Data - by_quantity_accepted

  accepted_quantity  available_candidates   Region
0                 1                 22301  General
1                 2                 13087  General
2             Above                   860  General

Parents Data - by_UF

   UF  available_candidates   Region
0  AC                    72  General
1  AL                   331  General
2  AM                   144  General
3  AP                    62  General
4  BA                  1396  General

Parents Data - by_region

  adoption_type  available_candidates   Region
0  Centro-Oeste                  2426  General
1      Nordeste                  5496  General
2         Norte                  1205  General
3       Sudeste                 17789  General
4           Sul                  9332  General

Parents Data - by_accepted_ethnicity

  ethnicity  available_candidates   Region
0       Any                 22352  General
1     White                 11571  General
2     Mixed                 10126  General
3     Asian                  3036  General
4     Black                  2265  General

Parents Data - by_type

   adoption_type  available_candidates   Region
0       National                 18854  General
1          State                 13649  General
2      Municipal                  3669  General
3  International                    21  General

Parents Data - by_infectious_disease_accepted

  infectious_disease_preference  available_candidates   Region
0                            No                 33202  General
1                           Yes                  3046  General

Parents Data - by_accepted_gender

   gender  available_candidates   Region
0     Any                 24949  General
1  Female                  8689  General
2    Male                  2610  General

In [12]:
# directory for the data
base_dir_children = 'data/criancas_para_adocao/'
base_dir_parents = 'data/prospective_adoptive_parents/'







# Function to dynamically rename columns based on the file name
def rename_columns_based_on_filename(df, filename):
    if 'by_infectious_disease' in filename:
        df = df.rename(columns={'Doença': 'infectious_disease'})
    elif 'by_disease' in filename:
        df = df.rename(columns={'Doença': 'disease_status'})
    elif 'by_disability' in filename:
        df = df.rename(columns={'Deficiência': 'disability_status'})
    elif 'by_siblings' in filename:
        df = df.rename(columns={'Irmãos': 'sibling_status'})
    return df

# Function to load data from each regional directory
def load_region_data(base_dir, region):
    region_dir = os.path.join(base_dir, region)
    data = {}
    for file in os.listdir(region_dir):
        if file.endswith('.xlsx'):
            key = file.split('.')[0]
            df = pd.read_excel(os.path.join(region_dir, file))
            df = rename_columns_based_on_filename(df, file)
            df['Region'] = region
            data[key] = df
    return data

# Load data from all regions for children and parents
regions = ['centro_oeste', 'nordeste', 'norte', 'sudeste', 'sul', 'general']
children_data = {region: load_region_data(base_dir_children, region) for region in regions}
parents_data = {region: load_region_data(base_dir_parents, region) for region in regions}

In [9]:
# Translation mappings
translation_dict = {
    'age_group': {
        'Até 2 anos': '0-2 years', 'De 2 a 4 anos': '2-4 years', 'De 4 a 6 anos': '4-6 years',
        'De 6 a 8 anos': '6-8 years', 'De 8 a 10 anos': '8-10 years', 'De 10 a 12 anos': '10-12 years',
        'De 12 a 14 anos': '12-14 years', 'De 14 a 16 anos': '14-16 years', 'Maior de 16 anos': '16+ years'
    },
    'gender': {
        'Masculino': 'Male', 'Feminino': 'Female'
    },
    'disease_status': {
        'Não': 'No', 'Sim': 'Yes'
    },
    'sibling_status': {
        'Sem Irmão': 'No Siblings', 'Um Irmão': 'One Sibling', 'Dois Irmãos': 'Two Siblings',
        'Três Irmãos': 'Three Siblings', 'Mais de 3 Irmãos': 'More than Three Siblings'
    },
    'disability_status': {
        'Sem Deficiência': 'No Disability', 'Deficiência Intelectual': 'Intellectual Disability',
        'Deficiência Física e Intelectual': 'Physical and Intellectual Disability', 'Deficiência Física': 'Physical Disability'
    },
    'ethnicity': {
        'Parda': 'Mixed', 'Branca': 'White', 'Preta': 'Black', 'Indígena': 'Indigenous', 'Amarela': 'Asian', 'Não Informada': 'Not Informed'
    },
    'region': {
        'Centro Oeste': 'Midwest', 'Nordeste': 'Northeast', 'Norte': 'North', 'Sudeste': 'Southeast', 'Sul': 'South'
    },
    'available_for_adoption': {
        'Disponível - vinculada a pretendente': 'Available - Linked to Applicant',
        'Disponível - não vinculada a pretendente': 'Available - Not Linked to Applicant'
    }
    # Add more translations as needed
}

# Function to translate column values
def translate_columns(df, col_name, translation_dict):
    if col_name in df.columns and col_name in translation_dict:
        df[col_name] = df[col_name].map(translation_dict[col_name])
    return df

# Function to standardize and translate columns
def standardize_and_translate_columns(df, col_mapping, translation_dict):
    df = df.rename(columns=col_mapping)
    for col in col_mapping.values():
        df = translate_columns(df, col, translation_dict)
    return df

# Example column mappings for children data
col_mappings_children = {
    'Disponíveis para Adoção': 'available_for_adoption',
    'Fx. Etária': 'age_group',
    'Gênero': 'gender',
    'Etnia': 'ethnicity',
    'Deficiência': 'disability_status',
    'Doença': 'disease_status',
    'Irmãos': 'sibling_status',
    'UF': 'UF',
    'Região': 'region',
    'Disponível - vinculada a pretendente': 'available_for_adoption',
    'Disponível - não vinculada a pretendente': 'available_for_adoption',
    
}

# Example column mappings for parents data
col_mappings_parents = {
    'Disponíveis para Adoção': 'available_for_adoption',
    'Fx. Etária': 'age_group',
    'Gênero': 'gender',
    'Etnia': 'ethnicity',
    'Deficiência': 'disability_preference',
    'Doença': 'disease_preference',
    'Irmãos': 'sibling_preference',
    'UF': 'UF',
    'Região': 'region'
}

# Standardize and translate columns for each dataframe in all regions
for region, data in children_data.items():
    for key, df in data.items():
        children_data[region][key] = standardize_and_translate_columns(df, col_mappings_children, translation_dict)

for region, data in parents_data.items():
    for key, df in data.items():
        parents_data[region][key] = standardize_and_translate_columns(df, col_mappings_parents, translation_dict)

In [15]:
# Function to preview data from a specific region and key
def preview_data(data, region, key, num_rows=5):
    print(f"Preview of {key} data for {region} region:")
    display(data[region][key].head(num_rows))

# Preview some data for children
preview_data(children_data, 'general', 'by_age')
preview_data(children_data, 'general', 'by_gender')

# Preview some data for prospective adoptive parents
preview_data(parents_data, 'general', 'by_accepted_age')
preview_data(parents_data, 'general', 'by_accepted_gender')

Preview of by_age data for general region:

       Fx. Etária  Disponíveis para Adoção   Region
0      Até 2 anos                      393  general
1   De 2 a 4 anos                      292  general
2   De 4 a 6 anos                      372  general
3   De 6 a 8 anos                      396  general
4  De 8 a 10 anos                      488  general

Preview of by_gender data for general region:

      Gênero  Disponíveis para Adoção   Region
0  Masculino                     2579  general
1   Feminino                     2257  general

Preview of by_accepted_age data for general region:

            Idade  Pretendentes Disponíveis   Region
0      Até 2 anos                      6228  general
1   De 2 a 4 anos                     11606  general
2   De 4 a 6 anos                     11240  general
3   De 6 a 8 anos                      4989  general
4  De 8 a 10 anos                      1412  general

Preview of by_accepted_gender data for general region:

      Gênero  Pretendentes Disponíveis   Region
0   Qualquer                     24949  general
1   Feminino                      8689  general
2  Masculino                      2610  general

In [ ]:
# Function to standardize column names and ensure consistency
def standardize_columns(df, col_mapping):
    df = df.rename(columns=col_mapping)
    return df

# Example column mappings (add more as needed)
col_mappings = {
    'Disponíveis para Adoção': 'Available_for_Adoption',
    'Fx. Etária': 'Age_Group',
    'Gênero': 'Gender',
    'Etnia': 'Ethnicity',
    'Deficiência': 'Disability_Status',
    'Doença': 'Disease_Status',
    'Irmãos': 'Sibling_Status',
    'UF': 'UF',
    'Região': 'Region'
    'Tipo': 'Adoption_Preference',
    'Casal?': 'Marital_Status',
    'Doença infectocontagiosa': 'Infectious_Disease_Preference'
    
    
    
}

# Standardize columns for each dataframe in all regions
for region, data in children_data.items():
    for key, df in data.items():
        children_data[region][key] = standardize_columns(df, col_mappings)

for region, data in parents_data.items():
    for key, df in data.items():
        parents_data[region][key] = standardize_columns(df, col_mappings)